<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bsresponsive")
        @Scripts.Render("~/bundles/modernizr")
        @{
            var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
            var indexActive = currentAction == "Index" ? "active" : "";
            var convActive = currentAction == "Conventions" ? "active" : "";
            var conv2Active = currentAction == "Conventions2" ? "active" : "";
            var classActive = currentAction == "Classes" ? "active" : "";
            var coffeeActive = currentAction == "CoffeeScript" ? "active" : "";
            var libActive = currentAction == "Libraries" ? "active" : "";
        }
    </head>
<body>
    <header>
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <nav>
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        @Html.ActionLink("JavaScript", "Index", "Home", null, new { @class = "brand" })
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="@indexActive">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="@convActive">@Html.ActionLink("Konventionen 101", "Conventions", "Home")</li>
                                <li class="@conv2Active">@Html.ActionLink("Konventionen 201", "Conventions2", "Home")</li>
                                <li class="@classActive">@Html.ActionLink("Klassen", "Classes", "Home")</li>
                                <li class="@coffeeActive">@Html.ActionLink("CoffeeScript", "CoffeeScript", "Home")</li>
                                <li class="@libActive">@Html.ActionLink("Libraries", "Libraries", "Home")</li>
                                <li>@Html.ActionLink("Presentation", "Index", new { area = "Presentation", controller = "Presentation" })</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                @RenderSection("featured", required: false)
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="pull-right">
                    <p>&copy; @DateTime.Now.Year - busitec Gmbh - Daniel Trott</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
