@model IEnumerable<CinemaCommon.Entities.Cinema>

@{
    ViewBag.Title = "Cinemas";
}

<h2>Cinemas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIncome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.TotalIncome.ToString("0.#0 €")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CinemaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CinemaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CinemaId })
                </td>
            </tr>
        }
    </tbody>

</table>
